/* normalize.css */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:"Helvetica Neue", Helvetica, Arial, sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.3em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin: 0 0 1em;font-size: 16px;color: #444;line-height: 1.6;}pre,code,kbd,samp{font-family:monospace, serif;_font-family:'courier new', monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}a img{border:0}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

a,a:visited{color:#00A1CB;text-decoration:none}
a:hover{text-decoration:underline}
hr{height:0px;border-top:0;border-bottom:#CC0000 dashed 1px}
textarea{width:90%}

/* Grid */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.row { margin: 0 auto; max-width:1000px; padding:0 10px; }
.row:after { content: ""; display: table; clear: both; }

[class*='span'] { float: left; padding-right: 20px; }
.row [class*='span']:last-of-type { padding-right: 0; }
.span10{width:87.5%}
.span9{width:75%}
.span8{width:66.66%}
.span7{width:58.33%}
.span6{width:50%}
.span5{width:41.66%}
.span4{width:33.33%}
.span3{width:25%}
.span2{width:12.5%}

.module { padding: 20px; background: #eee; }

/* Opt-in outside padding */
.row-pad { padding: 20px 0 20px 20px; }
.row-pad [class*='span']:last-of-type { padding-right: 20px; }
.center {margin: 0 auto}


body { background: #FFF; color:#333; font-size: 14px; line-height:19px !important}
h1,h2,h3{color: #FE4747;line-height:1.2em}
h1 a:hover, h2 a:hover, h3 a:hover{text-decoration:underline}
img, object, embed{max-width:100%;height:auto}
img{-ms-interpolation-mode:bicubic}
p, pre, code, kbd, samp { font-size: 14px !important}

/************Kumbia*******************/
header {background: #DFF4FF;color: #00486B;padding-top: 1.5em; margin-top: 3.5em; height: 70px; border-bottom: 1px solid #C8DDE7}
h1+p {padding:0;margin:0}
h1 {margin-bottom:0}
h1+h2{margin:0}
header p{color:#28507C}
footer { margin-top: 1em; padding: 1em; border-top: 1px solid #F7E6DC; background: #F8F3F0; }

#content{margin-top:50px; max-width: 95%;}
#content h2 { color: #00A1CB; }
a.headerlink{ visibility: hidden; margin-left: 0.4em; }
:hover > a.headerlink { visibility: visible; }

nav{ position:fixed; top:0; left:0; width:100%; background: #FFF; box-shadow: 0 0 20px #000000; }
nav .logo { margin-top: 12px}

.btn,.btn-large {
    display: inline-block;
    padding: 18px 40px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    line-height: 1;
    background-color: #F26629;
    background-image: -moz-linear-gradient(top, #F95E0C 0%, #E53003 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F95E0C), color-stop(100%,#E53003));
    background-image: -webkit-linear-gradient(top, #F95E0C 0%,#E53003 100%);
    background-image: -o-linear-gradient(top, #F95E0C 0%,#E53003 100%);
    background-image: -ms-linear-gradient(top, #F95E0C 0%,#E53003 100%);
    background-image: linear-gradient(to bottom, #F95E0C 0%,#E53003 100%);
    border-radius: 3px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 5px 5px rgba(0, 0, 0, .2);
}
.btn:hover,.btn-large:hover {
    color: white;
    text-decoration: none;
    background-color: #FF7234;
    background-image: -moz-linear-gradient(top, #F95E0C 0%, #CD2A02 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F95E0C), color-stop(100%,#CD2A02));
    background-image: -webkit-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
    background-image: -o-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
    background-image: -ms-linear-gradient(top, #F95E0C 0%,#CD2A02 100%);
    background-image: linear-gradient(to bottom, #F95E0C 0%,#CD2A02 100%);
}

.btn{font-size:1em;padding:12px 10px}
.btn:visited, .btn-large:visited{color:#FFF}
.container-top { margin-bottom: 1em; padding-top:.5em }
.container-top h1, .container-top h2 { color: #00324B; }
.container-bottom { margin-bottom: 50px; }


/********************************* ICONOS *******************/
.social{background-image: url(../img/social.png); display:inline-block;height:32px;width:32px;margin-right:2px;}
.facebook{background-position:-64px 0}
.twitter{background-position:-32px 0}
.google{background-position:-96px 0}
.leftContent { padding: 5px 0 0 65px; }


/********************************* Responsive *******************/
@media (max-width: 730px) {
    nav{position:static !important;height:auto}
    [class*='span'] {width:100%;padding:0 10px}
    footer .stButton { margin-bottom: 5px }
    #content{margin-top:0}
    .page-header { width: 90%; margin: 0 10px}
}

@media (min-width: 980px) {
    body{padding-top:0}   
}
@media (max-width: 850px) {
    .breadcrumb { margin: 1em 0; }   
}

@media (max-width: 550px) {
    .breadcrumb { margin: 1em 0; }   
}

.form {line-height: 30px}
.form .btn{ padding: 5px 10px}
.pull-right{ float: right }

blockquote {
    position: relative;
    margin: 1.2em 1em;
    padding-left: 1em;        
    border-left: 4px solid #f3472a;
    z-index: -1;
}



header form { float: right; }
header input { float: left; }
header input[type="text"]{ background-color: #FFFFFF; border: 1px; font: inherit; margin-right: 5px; padding: 7px; width: 175px; }
header ul { list-style-type: none; margin: 0; }
header li{ float: left; margin: 4px 5px 0 0; }
header .breadcrumb li, header .breadcrumb a { margin-top: 7px; color:#888;}
.breadcrumb { }
nav p.user-guide { float: right; margin-top: 15px; }
dd { margin-left: 20px; }
li > dl { margin-left: 0px;}

table{ background-color: #F5FBFF; border: 1px solid #C8DEF0; border-collapse: collapse; margin-bottom: 20px; }
th, td{  border: 0;  border-bottom: 1px solid #C8DEF0; padding: 8px;  }
th{ background-color: #326B95;  color: #FFFFFF; text-align: left;  }
.literal, pre, code, kbd, samp {    
    background-color: #F8F8F8;
    border: 1px solid #DDDDDD;
    font-family: 'Ubuntu Mono', monospace, serif;    
    border-radius: 3px;
    padding: 1px 6px;
}
.highlight pre { }

.admonition .last { padding: 5px 2px; background: none repeat scroll 0% 0% rgb(240, 173, 78); border: 1px solid rgb(204, 204, 204); color: #FFFFFF; border-radius: 3px; font-weight: bold }
.admonition .last .pre { font-weight: normal !important; color: #444444 !important }
.admonition .admonition-title { visibility: hidden;  margin: 0; padding: 0;}
